<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tn.esprit.setoutlife">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.features.CalandarActivity"></activity>
        <activity android:name=".Activities.tutorial.finance" />
        <activity android:name=".Activities.tutorial.gain" />
        <activity android:name=".Activities.tutorial.commun_task" />
        <activity android:name=".Activities.tutorial.project_schema" />
        <activity android:name=".Activities.tutorial.simple_task" />
        <activity android:name=".Activities.tutorial.welcome" />
        <activity android:name=".Activities.VerifyCodeActivity" />
        <activity android:name=".Activities.ForgetPasswordActivity" />
        <activity android:name=".Activities.SignUpActivity" />
        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.HomeActivity" />
    </application>

</manifest>